[Desktop Entry]
Encoding=UTF-8
Name=Link to Untitled spreadsheet - Fulls de càlcul de Google
Type=Link
URL=https://docs.google.com/spreadsheets/d/1s0MCfcPUXAjfObiTQBRkt70uPqnGD04nmFmkr7SGsnE/edit#gid=0
Icon=text-html
Name[en_GB]=Link to task list
